<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>username</key>
			<string>abc@123</string>
			<key>password</key>
			<string>man</string>
		</dict>
		<dict>
			<key>username</key>
			<string>man@123</string>
			<key>password</key>
			<string>nav</string>
		</dict>
	</array>
	<key>countries</key>
	<array>
		<string>India</string>
		<string>Canada</string>
		<string>USA</string>
		<string>Australia</string>
	</array>
</dict>
</plist>
